.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures

*.apk
*.ap_

*.dex

*.class

bin/
gen/

.gradle/
build/
/*/build/

*.log

AnimRefreshRecyclerView.iml
/LibAnimRefreshRecyclerView/LibAnimRefreshRecyclerView.iml
/app/app.iml